version: '2.1'

services:

  config-server:
    image: ${IMAGE_ROOT}/config-server
    ports:
      - "${CONFIG_SERVER_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_REPO=${CONFIG_REPO}
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "15672:15672"

  eureka:
    image: ${IMAGE_ROOT}/eureka
    ports:
      - "${EUREKA_SERVER_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    healthcheck:
      test: ["CMD", "wget", "http://localhost:8080", "-O", "/tmp/wget"]
      interval: 10s
      timeout: 5s
      retries: 60
    depends_on:
      - config-server
  
  admin-server:
    image: ${IMAGE_ROOT}/admin-server
    ports:
      - "${ADMIN_SERVER_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
        condition: service_healthy
  
  hystrix-dashboard:
    image: ${IMAGE_ROOT}/hystrix-dashboard
    container_name: hystrix-dashboard
    ports:
      - "${HYSTRIX_DASHBOARD_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
          condition: service_healthy

  turbine:
    image: ${IMAGE_ROOT}/turbine
    container_name: turbine
    ports:
      - "${TURBINE_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
        condition: service_healthy

  sadr:
    image: ${IMAGE_ROOT}/sadr
    container_name: sadr
    ports:
      - "${SADR_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
          condition: service_healthy
      
  deneb:
    image: ${IMAGE_ROOT}/deneb
    container_name: deneb
    ports:
      - "${DENEB_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
        condition: service_healthy

  zuul:
    image: ${IMAGE_ROOT}/zuul
    container_name: zuul
    ports:
      - "${ZUUL_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - CONFIG_SERVER_ENDPOINT=${CONFIG_SERVER_ENDPOINT}
    depends_on:
      eureka:
        condition: service_healthy
  
      
  