<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%date{HH:mm:ss.SSS} %thread %c %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="GRAYLOG" class="com.github.pukkaone.gelf.logback.GelfAppender">
		<graylogHost>docker.local</graylogHost>
		<graylogPort>12201</graylogPort>
<!-- 		<originHost>my.machine.example.com</originHost> -->
<!-- 		<levelIncluded>true</levelIncluded> -->
<!-- 		<locationIncluded>false</locationIncluded> -->
<!-- 		<loggerIncluded>true</loggerIncluded> -->
<!-- 		<markerIncluded>false</markerIncluded> -->
<!-- 		<mdcIncluded>false</mdcIncluded> -->
<!-- 		<threadIncluded>false</threadIncluded> -->
<!-- 		<facility>gelf-java</facility> -->
<!-- 		<additionalField>application=MyApplication</additionalField> -->
<!-- 		<additionalField>environment=development</additionalField> -->
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="GRAYLOG" />
	</root>
</configuration>
